In [42]:
import pandas as pd
import numpy as np

In [43]:
data=pd.read_csv('Ecommerce_Customers.csv')

In [44]:
data.head(5)

,Email,Address,Avatar,Avg Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank TunnelWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer CommonDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582Cobbborough, DC ...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David ThroughwayPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez PassagePort Jacobville, PR 372...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [45]:
data1=data.drop(columns=['Email','Address','Avatar'])

In [46]:
data1.head(5)

,Avg Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,34.497268,12.655651,39.577668,4.082621,587.951054
1,31.926272,11.109461,37.268959,2.664034,392.204933
2,33.000915,11.330278,37.110597,4.104543,487.547505
3,34.305557,13.717514,36.721283,3.120179,581.852344
4,33.330673,12.795189,37.536653,4.446308,599.406092

In [47]:
data1.columns

Index(['Avg Session Length', 'Time on App', 'Time on Website',
       'Length of Membership', 'Yearly Amount Spent'],
      dtype='object')

In [48]:
X=data1.drop(columns=['Yearly Amount Spent'])

In [49]:
X.head(5)

   Avg Session Length  Time on App  Time on Website  Length of Membership
0           34.497268    12.655651        39.577668              4.082621
1           31.926272    11.109461        37.268959              2.664034
2           33.000915    11.330278        37.110597              4.104543
3           34.305557    13.717514        36.721283              3.120179
4           33.330673    12.795189        37.536653              4.446308

In [50]:
Y=data1['Yearly Amount Spent']

In [51]:
Y.head(5)

0    587.951054
1    392.204933
2    487.547505
3    581.852344
4    599.406092
Name: Yearly Amount Spent, dtype: float64

In [52]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.4,random_state=1)

In [53]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error,r2_score

In [54]:
reg = linear_model.LinearRegression()

In [55]:
 reg.fit(X_train, y_train)

LinearRegression()

In [56]:
y_pred=reg.predict(X_test)

In [57]:
rmse=mean_squared_error(y_test,y_pred)

In [58]:
rmse

89.58380731155455

In [59]:
r2=r2_score(y_test,y_pred)

In [60]:
r2

0.987032307056989

In [61]:
print('Coefficients: ', reg.coef_)

Coefficients:  [2.60891361e+01 3.90264696e+01 6.33046136e-03 6.12929297e+01]

In [62]:
print('Intercept:',reg.intercept_)

Intercept: -1049.784727508769